// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// .st0{fill:#ED1C24; &:hover{fill:#a71116;}}
// .st1{fill:#8BC349; &:hover{fill:#5d8a2b;}}
// .st2{fill:#FFFFFF; &:hover{fill:#FFFFFF;}}
// .st3{fill:#428FCD; &:hover{fill:#2d6fa5;}}
// .st4{fill:#7A574A; &:hover{fill:#684436;}}
// .st5{fill:#5F7E8C; &:hover{fill:#435b66;}}
// .st6{fill:#904098; &:hover{fill:#59225e;}}
// .st7{fill:#654A9E; &:hover{fill:#4a3677;}}
// .st8{fill:#EF4438; &:hover{fill:#b1352d;}}
// .st9{fill:#9D9D9D; &:hover{fill:#696464;}}
// .st10{fill:#4355A5; &:hover{fill:#3b4883;}}
// .st11{fill:#F89820; &:hover{fill:#ce7f1e;}}
// .st12{fill:#00A651; &:hover{fill:#036d36;}}
// .st13{fill:#16988A; &:hover{fill:#116960;}}
// .st14{fill:#FCC115; &:hover{fill:#af860c;}}